<script setup lang="ts">
import { Button } from "@/components/ui/button";
import { ref } from "vue";
import { ShoppingCart, User } from "lucide-vue-next";
import { Sheet, SheetTrigger } from "@/components/ui/sheet";
import ShoppingMenu from "../custom/ShoppingMenu.vue";

import {
  DropdownMenu,
  DropdownMenuContent,
  DropdownMenuItem,
  DropdownMenuShortcut,
  DropdownMenuTrigger,
} from "@/components/ui/dropdown-menu";

const nav = [
  { label: "Qadamjolar", to: "/" },
  { label: "Biz haqimizda", to: "/about-us" },
  { label: "Choyxonalar", to: "/teahouses" },
];
const props = defineProps({
  text: {
    type: String,
    default: "text-black",
  },
});
const user = ref(localStorage.getItem("user") ?? null);
function handleLogOut() {
  localStorage.removeItem("user");
  user.value = localStorage.getItem("user");
}
</script>
<template>
  <header class="fixed top-0 w-full z-20">
    <Sheet>
      <nav class="border-b border-[#fff9]">
        <div class="container mx-auto py-7 flex items-center justify-between">
          <router-link class="text-3xl font-normal" to="/"
            >TravelUzb</router-link
          >
          <div class="flex gap-8 w-auto">
            <div v-for="item in nav">
              <router-link
                :to="item.to"
                class="font-normal text-lg transition ease-in-out duration-150 text-white hover:!text-blue-500"
                :class="props.text"
                >{{ item.label }}
              </router-link>
            </div>
          </div>
          <div class="flex gap-2">
            <Button class="!px-8" variant="secondary" v-if="!user">
              <router-link to="/login"> Login </router-link>
            </Button>
            <DropdownMenu v-else>
              <DropdownMenuTrigger as-child>
                <Button variant="outline" siz="icon">
                  <User />
                </Button>
              </DropdownMenuTrigger>
              <DropdownMenuContent class="w-20">
                <DropdownMenuItem @click="handleLogOut">
                  <span>Log out</span>
                  <DropdownMenuShortcut>⇧⌘Q</DropdownMenuShortcut>
                </DropdownMenuItem>
              </DropdownMenuContent>
            </DropdownMenu>

            <SheetTrigger as-child>
              <Button class="!px-8" variant="secondary">
                <ShoppingCart class="mr-2 h-4" />
                Savatcha</Button
              >
            </SheetTrigger>
          </div>
        </div>
      </nav>
      <ShoppingMenu />
    </Sheet>
  </header>
</template>
