<script setup lang="ts">
import { onMounted, ref } from "vue";
import bg from "../../assets/images/tashkent.jpg";
import { useApi } from "../../composables/useApi";
import { useRouter } from "vue-router";
const $api = useApi();

interface IMarquee {
  id: number;
  title: string;
  short_title: string;
  image: string;
  status: boolean;
  description: string;
}

const router = useRouter();

const marqueeData = ref<IMarquee[]>([]);
async function fetchData() {
  try {
    const { data } = await $api.$get("main/qadamjolar/");
    marqueeData.value = data.qadajolar;
  } catch {
    alert("Error");
  }
}

function handleClick(val: number) {
  router.push(`/historical-buldings/${val}`);
}

onMounted(async () => {
  await fetchData();
});
</script>
<template>
  <div class="container mx-auto pt-12">
    <h3 class="text-4xl font-semibold">Qadamjolar</h3>
    <div class="mt-8">
      <div class="grid grid-cols-4 gap-4">
        <div
          class="border-2 min-h-80 p-4 rounded-xl cursor-pointer hover:shadow-md transition duration-200 ease-in hover:border-blue-500"
          v-for="item in marqueeData"
          @click="handleClick(item.id)"
        >
          <img
            :src="'https://travel15.pythonanywhere.com/' + item.image"
            alt=""
            class="h-48 w-full object-cover rounded-md scale-100"
          />
          <div class="p-4 flex flex-col w-full">
            <h3 class="font-semibold font-sans text-lg">{{ item.title }}</h3>
            <p class="line-clamp-4 mt-1 font-sans">{{ item.short_title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
