<script setup lang="ts">
import { ref } from "vue";
import { Plus, X } from "lucide-vue-next";
import { Button } from "@/components/ui/button";
const data = [
  "https://uzbekistan.travel/storage/app/uploads/public/5fd/8a3/0d1/thumb_1462_1140_0_0_0_auto.jpg",
  "https://uzbekistan.travel/storage/app/uploads/public/5fd/8a7/738/thumb_1467_1140_0_0_0_auto.jpg",
  "https://uzbekistan.travel/storage/app/uploads/public/5fd/8a4/b38/thumb_1464_600_0_0_0_auto.jpg",
  "https://uzbekistan.travel/storage/app/uploads/public/5fd/8a5/c00/thumb_1466_600_0_0_0_auto.jpg",
  "https://uzbekistan.travel/storage/app/uploads/public/5ee/351/1ed/thumb_1061_1140_0_0_0_auto.jpg",
  "https://uzbekistan.travel/storage/app/uploads/public/5fd/89b/651/thumb_1457_600_0_0_0_auto.jpg",
  "https://uzbekistan.travel/storage/app/uploads/public/5eb/ce5/99c/thumb_845_600_0_0_0_auto.jpg",
  "https://uzbekistan.travel/storage/app/uploads/public/5fd/89f/2bd/thumb_1461_600_0_0_0_auto.jpg",
  "https://uzbekistan.travel/storage/app/uploads/public/5fd/8a3/d1b/thumb_1463_600_0_0_0_auto.jpg",
];

const isModal = ref(false);
const modalImg = ref("");
const handleClick = (val: string) => {
  isModal.value = true;
  modalImg.value = val;
};
</script>
<template>
  <div class="container mx-auto pt-12">
    <h3 class="text-4xl font-semibold">Fotogalereya</h3>
    <div class="gallery mt-8">
      <figure
        class="gallery__item relative group overflow-hidden cursor-pointer"
        v-for="img in data"
        @click="handleClick(img)"
      >
        <img
          :src="img"
          :alt="'Gallery image' + 1"
          class="gallery__img transition duration-300 ease-in group-hover:scale-110"
        />
        <div
          class="absolute w-full h-full flex justify-center items-center group-hover:bg-[#00000021] transition duration-300 ease-in"
        >
          <Plus
            class="h-12 w-12 text-white hidden group-hover:block transition duration-300 ease-in"
          />
        </div>
      </figure>
    </div>
    <!-- open modal -->
    <div
      class="w-screen h-screen bg-[#000000b0] z-20 fixed top-0 right-0 left-0 p-10 flex flex-col gap-3 transition ease-in duration-300"
      :class="isModal ? 'flex' : 'hidden'"
    >
      <div class="w-full flex justify-end">
        <Button variant="outline" size="icon" @click="isModal = false">
          <X class="w-4 h-4" />
        </Button>
      </div>

      <img
        :src="modalImg"
        class="w-full h-full object-cover overflow-hidden rounded-md"
        alt=""
      />
    </div>
  </div>
</template>

<style>
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 5vw);
  grid-gap: 1rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
}

.gallery__item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item:nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item:nth-child(6) {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
.gallery__item:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 12;
}
.gallery__item:nth-child(8) {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 12;
}
.gallery__item:nth-child(9) {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 12;
  grid-row-end: 17;
}
</style>
