<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useApi } from "../../composables/useApi";
import { useRouter } from "vue-router";
const $api = useApi();

const router = useRouter();

const baseData = ref();
async function fetchData() {
  try {
    const { data } = await $api.$get("cafe/cafelar/");
    baseData.value = data;
  } catch {
    alert("Error");
  }
}

function handleClick(id: number) {
  router.push({ query: { id: id } });
}

onMounted(async () => {
  await fetchData();
});
</script>
<template>
  <div class="grid grid-cols-4 gap-4">
    <div
      class="border-2 min-h-80 p-4 rounded-xl cursor-pointer hover:shadow-md transition duration-200 ease-in hover:border-blue-500"
      v-for="item in baseData"
      @click="handleClick(item.id)"
    >
      <img
        :src="'https://travel15.pythonanywhere.com/' + item.image"
        alt=""
        class="h-48 w-full object-cover rounded-md scale-100"
      />
      <div class="p-4 flex flex-col w-full">
        <h3 class="font-semibold font-sans text-lg">{{ item.name }}</h3>
        <p class="line-clamp-4 mt-1 font-sans">{{ item.info }}</p>
      </div>
    </div>
  </div>
</template>
