<script setup lang="ts">
import {
  SheetClose,
  SheetContent,
  SheetFooter,
  SheetHeader,
  SheetTitle,
} from "@/components/ui/sheet";
import Button from "../ui/button/Button.vue";
import { Trash, Plus, Minus } from "lucide-vue-next";
import { useShop } from "../../composables/useShop";
const { addItem, removeItem } = useShop();
import { useShoppingStore } from "@/stores/shopping";
import { storeToRefs } from "pinia";
const { shoppingCardData } = storeToRefs(useShoppingStore());
import { useToast } from "@/components/ui/toast/use-toast";
const { toast } = useToast();
// const shoppingData = ref<any>(shoppingState.shoppingCardData);

function handleAdd(item: any) {
  addItem(item);
}
function handleRemove(item: any) {
  console.log(item);

  removeItem(item);
}
function handleClick() {
  let allSum = 0;
  shoppingCardData.value.forEach((element) => {
    allSum += element.count * element.price;
  });

  toast({
    title: "Buyurtma bron qilindi",
    description: `Sizdan umumiy ${allSum} sum bo'ldi to'lovni xizmat ko'rsatilgandan keyin qilasiz!`,
  });
  localStorage.removeItem("data"), (shoppingCardData.value = []);
}
</script>
<template>
  <SheetContent class="overflow-auto">
    <SheetHeader>
      <SheetTitle>Productlar</SheetTitle>
    </SheetHeader>
    <div class="flex flex-col gap-2 py-2 overflow-auto">
      <div
        class="border min-h-20 w-full rounded shadow p-2.5 flex flex-col gap-2"
        v-for="item in shoppingCardData"
      >
        <div class="w-full flex justify-between items-start">
          <h3>{{ item.name }}</h3>
          <!-- <Button size="icon" class="h-6 w-6" variant="outline">
            <Trash class="h-4 w-4" />
          </Button> -->
        </div>
        <div class="flex gap-4">
          <img
            :src="'https://travel15.pythonanywhere.com/' + item.image"
            class="w-20 h-auto rounded object-cover"
            alt=""
          />
          <div class="flex flex-col gap-2">
            <span>Narxi: {{ item.price * item.count }} sum</span>
            <span>Buyurtmalar soni: {{ item.count }} ta</span>
            <div
              class="border rounded-full flex items-center justify-between px-2 py-1"
            >
              <button @click="handleRemove(item)">
                <Minus class="hover:text-[#5e5e5e]" />
              </button>
              <span>{{ item.count }}</span>
              <button @click="handleAdd(item)">
                <Plus class="hover:text-[#5e5e5e]" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <SheetFooter v-if="shoppingCardData.length > 0">
      <SheetClose as-child>
        <Button type="submit" @click="handleClick">
          Buyurtmani rasmiylashtirish
        </Button>
      </SheetClose>
    </SheetFooter>
    <div v-else>Siz hech nima buyurtma qilmagansiz :(</div>
  </SheetContent>
</template>
