<script setup lang="ts">
import Button from "../ui/button/Button.vue";
import { useShop, addShop } from "../../composables/useShop";
import { ref } from "vue";
const { getShop, addShop } = useShop();
defineProps({
  data: Object,
});

const shoppingData = ref<any>([]);

function handleClick(data) {
  let getData = getShop("data") ?? [];
  let found = false;

  for (let i = 0; i < getData.length; i++) {
    if (getData[i].name === data.name && getData[i].cafe === data.cafe) {
      // Agar item topilsa, count ni oshirish
      getData[i].count = (getData[i].count || 0) + 1;
      found = true;
      break;
    }
  }

  if (!found) {
    getData.push({ ...data, count: 1 });
  }

  shoppingData.value = getData;
  addShop(shoppingData.value);
}
</script>

<template>
  <div class="grid grid-cols-4 gap-4">
    <div
      class="border-2 min-h-80 pt-4 px-4 rounded-xl cursor-pointer hover:shadow-md transition duration-200 ease-in hover:border-blue-500 flex flex-col justify-between"
      v-for="item in data?.menu"
    >
      <img
        :src="'https://travel15.pythonanywhere.com/' + item.image"
        alt=""
        class="h-48 w-full object-cover rounded-md scale-100"
      />
      <div class="p-4 flex flex-col w-full">
        <h3 class="font-semibold font-sans text-lg">{{ item.name }}</h3>
        <p class="line-clamp-2 mt-1 font-sans">{{ item.description }}</p>
        <span class="mt-1 text-blue-500 font-semibold"
          >{{ item.price }} so'm</span
        >
        <Button class="mt-2" variant="outline" @click="handleClick(item)"
          >Savatchaga qo'shish
        </Button>
      </div>
    </div>
  </div>
</template>
