<script setup lang="ts">
import {
  Carousel,
  CarouselContent,
  CarouselItem,
  CarouselNext,
  CarouselPrevious,
} from "@/components/ui/carousel";
import Autoplay from "embla-carousel-autoplay";
import { Card, CardContent } from "@/components/ui/card";
const props = defineProps({
  data: Object,
});
</script>

<template>
  <Carousel
    class="relative w-full max-w-screen max-h-screen overflow-hidden"
    :plugins="[
      Autoplay({
        delay: 4000,
      }),
    ]"
  >
    <CarouselContent>
      <CarouselItem class="" v-for="(item, index) in props?.data" :key="index">
        <div
          v-if="item.url"
          :style="{
            backgroundImage: 'url(' + item.url + ')',
          }"
          class="h-screen w-screen flex items-center justify-center bg-cover"
        >
          <div class="flex flex-col gap-8 items-center">
            <h3 class="text-white text-center text-5xl">{{ item.title }}</h3>
            <p class="text-white max-w-[50%] text-center text-xl">
              {{ item.text }}
            </p>
          </div>
        </div>
        <div v-else>
          <img
            :src="'https://travel15.pythonanywhere.com' + item.image"
            class="h-[100vh] w-full object-cover"
            alt=""
          />
        </div>
      </CarouselItem>
    </CarouselContent>
    <CarouselPrevious class="left-10" />
    <CarouselNext class="right-10" />
  </Carousel>
</template>
