<script setup lang="ts">
import SliderSwiper from "@/components/custom/SliderSwiper.vue";
import ProductCard from "@/components/custom/ProductCard.vue";
const sliderData = [
  {
    url: "https://zira.uz/wp-content/uploads/2019/09/mampar-6.jpg",
    title: "Mampar",
    text: "Mampar — mazali va juda to’yimli suyuq taomlardan biri bo’lib, tayyorlash jarayoni ham umuman qiyinchilik tug’dirmaydi.",
  },
  {
    url: "https://zira.uz/wp-content/uploads/2019/03/xamir-hosip.jpg",
    title: "Xamir xasip",
    text: "Xamir xasip juda to’yimli va mazali milliy taomlarimizdan biri bo’lib, u o’zining ajoyib ko’rinishi bilan har bir dasturxonga ko’rk beradi.",
  },
  {
    url: "https://zira.uz/wp-content/uploads/2018/10/kavardak1-2.jpg",
    title: "Qovurdoq",
    text: "Qovurdoq bu oddiy masalliqlardan tayyorlaniladigan juda mazali taom bo’lib, oson pishiriladi.",
  },
  {
    url: "https://zira.uz/wp-content/uploads/2018/10/chaykhanskiy-plov-5.jpg",
    title: "Choyxona palov",
    text: "Choyxona palov eng mazali oshlardan biri bo’lib, aynan shu palobni ko’pchilik o’z uyida tayyorlaydi.",
  },
  // {
  //   url: '',
  //   title: '',
  //   text: ''
  // },
];
</script>
<template>
  <div class="flex flex-col">
    <SliderSwiper :data="sliderData" />
    <div class="pt-12 container mx-auto">
      <div class="flex flex-col gap-8">
        <h3 class="text-4xl font-semibold">Taom markazlari</h3>
        <ProductCard />
      </div>
    </div>
  </div>
</template>
