<script setup lang="ts">
import SliderSwiper from "@/components/custom/SliderSwiper.vue";
import ShoppingCard from "@/components/custom/ShoppingCard.vue";
import { ref, onMounted } from "vue";
import { useApi } from "../../composables/useApi";
import { useRoute } from "vue-router";
const $api = useApi();

const route = useRoute();

const baseData = ref();
async function fetchData() {
  try {
    const { data } = await $api.$get("cafe/cafe/" + route.query.id);
    baseData.value = data;
  } catch {
    alert("Error");
  }
}

onMounted(async () => {
  await fetchData();
});
</script>
<template>
  <div class="flex flex-col">
    <SliderSwiper :data="baseData?.images" />
    <div class="pt-12 container mx-auto">
      <div class="flex flex-col gap-8">
        <ShoppingCard :data="baseData" />
      </div>
    </div>
  </div>
</template>
