<script setup lang="ts">
import { computed, onMounted, shallowRef } from "vue";
import cafes from "./cafes.vue";
import cafeId from "./cafeId.vue";
import { useRoute } from "vue-router";
const route = useRoute();

const comp = computed(() => {
  if (route.query.id) {
    return cafeId;
  } else {
    return cafes;
  }
});
</script>
<template>
  <component :is="comp" />
</template>
