<script setup>
import { Button } from "@/components/ui/button";
import { Play } from "lucide-vue-next";
import SliderSwiper from "@/components/custom/SliderSwiper.vue";
import PhotoGalleries from "@/components/custom/PhotoGalleries.vue";
import Marquee from "@/components/custom/Marquee.vue";
import { useApi } from "@/composables/useApi";
const $api = useApi();
const sliderData = [
  {
    url: "https://uzbekistan.travel/storage/app/uploads/public/604/9ea/e3d/thumb_1608_1920_0_0_0_auto.jpg",
    title: "Tabiat",
    text: "Xushmanzara tog‘lar, gullagan vodiylar, jazirama cho‘llar, daryolar va zilol ko‘llar - bu go‘zallikning barchasidan O‘zbekistonda bahramand bo‘lishingiz mumkin!",
  },
  {
    url: "https://uzbekistan.travel/storage/app/uploads/public/5fb/e45/3aa/thumb_1425_1920_0_0_0_auto.jpg",
    title: "O‘zbek taomlari",
    text: "Xushbo‘y palov, ishtahani qo‘zg‘atadigan qozon kabob, somsa, yopgan non va sho‘rva – o‘z rang-barangligi va betakror ta’mi bilan O‘zbekiston aholisi va mehmonlarining hayratga soladi.",
  },
  {
    url: "https://uzbekistan.travel/storage/app/uploads/public/604/9ea/9bc/thumb_1607_1920_0_0_0_auto.jpg",
    title: "Me’morchlik",
    text: "Moviy rang naqshlar va rang-barang rasmlar bilan bezatilgan ulug‘vor me’moriy ansambllar, saroylar, masjidlar va minoralar O‘zbekistonga tashrif buyuruvchi millionlab mehmonlarni ko‘p asrlar davomida hayratga solib kelmoqda.",
  },
  {
    url: "https://uzbekistan.travel/storage/app/uploads/public/5fb/e45/83a/thumb_1427_1920_0_0_0_auto.jpg",
    title: "Madaniy meros",
    text: "O‘zbekiston madaniyati, Markaziy Osiyo xalqlarining ko‘p asrlik an’analari va turmush tarzi bilan chambarchas bog‘liq boy tarixga ega",
  },
  {
    url: "https://uzbekistan.travel/storage/app/uploads/public/5fb/f31/004/thumb_1430_1920_0_0_0_auto.jpg",
    title: "Xalq san’ati",
    text: "Noyob naqshlar bilan burkangan O‘zbekiston amaliy san’ati asarlarining mazmuni va ahamiyati ko‘p asrlar davomida rivojlanib kelgan",
  },
];

const cites = [{}];
</script>
<template>
  <div class="flex flex-col">
    <!-- 1 -->
    <SliderSwiper :data="sliderData" />
    <!-- 2 -->
    <div class="pt-12 container mx-auto">
      <h3 class="text-4xl font-semibold">O'zbekiston shaharlari</h3>
      <div class="grid grid-cols-4 mt-8 gap-4">
        <div
          class="border w-full min-h-[300px] rounded-md relative p-4 transition-all duration-300 ease-in-out group hover:shadow-md hover:cursor-pointer"
          v-for="n in 4"
        >
          <div class="flex flex-col gap-3 h-full">
            <div class="h-1/2 w-full overflow-hidden">
              <img
                src="../../assets/images/tashkent.jpg "
                class="w-full h-full object-cover rounded-lg transition duration-300 ease-in group-hover:scale-105"
                alt="not img"
              />
            </div>
            <div class="flex flex-col gap-3">
              <span class="font-bold text-xl">Registon maydoni</span>
              <p class="text-md font-normal line-clamp-2 text-[#959595]">
                Qadimiy Samarqand shahrining rasmiy markazi Registon maydoni
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <PhotoGalleries />
    <Marquee />
    <!-- 4 -->
  </div>
</template>
