<script setup lang="ts">
import SliderSwiper from "@/components/custom/SliderSwiper.vue";
import { useApi } from "@/composables/useApi";
import { onMounted, ref } from "vue";
const $api = useApi();

const aboutData = ref<any>([]);
async function fetchData() {
  const { data } = await $api.$get("main/about/");
  aboutData.value = data;
}
onMounted(async () => {
  await fetchData();
});
</script>
<template>
  <div class="flex flex-col">
    <SliderSwiper :data="aboutData.image" />
    <div v-for="item in aboutData.about" class="mt-6 py-6 px-8">
      <div class="flex flex-col gap-4 p-4 rounded-lg border-2">
        <h3 class="font-bold text-2xl">{{ item.title }}</h3>
        <p class="font-serif">{{ item.description }}</p>
        <img
          :src="'https://travel15.pythonanywhere.com/' + item.image"
          class="rounded-md max-h-[60vh] object-cover"
          alt=""
        />
      </div>
    </div>
  </div>
</template>
