<script setup lang="ts">
import SliderSwiper from "@/components/custom/SliderSwiper.vue";
import ShoppingCard from "@/components/custom/ShoppingCard.vue";
import { ref, onMounted } from "vue";
import { useApi } from "@/composables/useApi";
import { useRoute } from "vue-router";
const $api = useApi();

const route = useRoute();

console.log(route.params.id);

const baseData = ref();
async function fetchData() {
  try {
    const { data } = await $api.$get("main/qadamjo/" + route.params.id);
    baseData.value = data;
  } catch {
    alert("Error");
  }
}

function handleClick(item: any) {}

onMounted(async () => {
  await fetchData();
});
</script>
<template>
  <div class="flex flex-col">
    <SliderSwiper :data="baseData?.images" />

    <div class="pt-6 container mx-auto">
      <h3 class="text-3xl font-semibold">{{ baseData?.qadamjo?.title }}</h3>
      <div class="flex flex-col gap-8 mt-8">
        <div class="border-2 rounded-xl p-4 flex flex-col gap-4">
          <img
            :src="
              'https://travel15.pythonanywhere.com/' + baseData?.qadamjo?.image
            "
            alt=""
            class="h-[50vh] w-full object-cover rounded-md scale-100"
          />

          <p class="text-xl font-semibold">
            {{ baseData?.qadamjo?.short_title }}
          </p>
          <p class="font-serif">{{ baseData?.qadamjo?.description }}</p>
        </div>
        <!-- <div class="grid grid-cols-4 gap-4">
          <div
            class="border-2 min-h-80 pt-4 px-4 rounded-xl cursor-pointer hover:shadow-md transition duration-200 ease-in hover:border-blue-500 flex flex-col justify-between"
            v-for="item in baseData?.qadamjo"
          >
            <img
              :src="'https://travel15.pythonanywhere.com/' + item.image"
              alt=""
              class="h-48 w-full object-cover rounded-md scale-100"
            />
            <div class="p-4 flex flex-col w-full">
              <h3 class="font-semibold font-sans text-lg">{{ item.name }}</h3>
              <p class="line-clamp-2 mt-1 font-sans">{{ item.description }}</p>
              <span class="mt-1 text-blue-500 font-semibold"
                >{{ item.price }} so'm</span
              >
              <Button class="mt-2" variant="outline" @click="handleClick(item)"
                >Savatchaga qo'shish
              </Button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>
