<script setup lang="ts">
import { ref, computed } from "vue";
import { useRoute } from "vue-router";
import DefaultLayout from "./layouts/default.vue";
import MainLayout from "./layouts/main.vue";
import Toaster from "@/components/ui/toast/Toaster.vue";

const layoutLists = {
  main: MainLayout,
  default: DefaultLayout,
};

const route = useRoute();

const layout = computed(() => {
  let l = route.meta.layout || "";
  return l as keyof typeof layoutLists;
});
</script>
<template>
  <div class="overflow-x-hidden">
    <Toaster />
    <component :is="layoutLists[layout]"></component>
  </div>
</template>
