<script setup>
import { ref } from "vue";
import Header from "../components/custom/Header.vue";
import Footer from "../components/custom/Footer.vue";
import { useRoute } from "vue-router";

const route = useRoute();

const isScrool = ref(false);
window.addEventListener("scroll", (event) => {
  var currentScrollPos = window.pageYOffset;
  if (currentScrollPos > 0) {
    isScrool.value = true;
  } else {
    isScrool.value = false;
  }
});
</script>
<template>
  <div class="min-h-screen flex flex-col justify-between">
    <Header
      class="transition ease-in-out duration-300"
      :class="{ 'bg-white': isScrool }"
      :text="isScrool ? '!text-black' : '!text-white'"
    />
    <RouterView />
    <Footer />
  </div>
</template>
